.text {
  color: #ff4953;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
}

.message {
  font-size: 16px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
}

.modal-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  margin-top: 20px;

  button {
    margin: 0 auto;

    &:focus,
    &:active {
      border: none;
      outline: 0;
      box-shadow: none;
    }
  }
}
